@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

:root {
  --purple-color:#1106b4;
  --purple-color-lighter: #5a51e2;
  --purple-color-opacity:#033cd821;
  --purple-color-opacity-secondary:#1106b445;
}

.gradient-left {
  stop-color: #150338;
  stop-opacity: 1;
}

.gradient-right {
  stop-color: #9e4fdf;
  stop-opacity: 1;
}

.text-gradient-primary {
  background: -webkit-linear-gradient(360deg, #720de6, #150338);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

