@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --purple-color:#1106b4;
  --purple-color-lighter: #5a51e2;
  --purple-color-opacity:#033cd821;
  --purple-color-opacity-secondary:#1106b445;
}

.gradient-left {
  stop-color: #150338;
  stop-opacity: 1;
}

.gradient-right {
  stop-color: #9e4fdf;
  stop-opacity: 1;
}